*{
  font-family:Tahoma, Verdana, sans-serif;
  background-color:#333333;
}

img{
  padding: 2%;
}

body{
  min-height: 70%;
  max-height: 100%
}

p{
  margin:0;
  padding:0;
}

ul{
  margin-top:5%;
}

a{
  color: #dddddd;
}

a:hover{
  color:#777777;
}

a:active{
  color:blue;
}

.container{
  width:80%;
  margin:auto;
  padding:0;
  color:#dddddd;
  white-space: nowrap;
  border-bottom: 1px #dddddd dashed;
  display: flex;
}

.titleBox{
  text-align:center;
  width: 100%;
  padding-bottom: 5px;
  font-size:160%;
  color:inherit;
}

.divider{
  border-right: 1px #dddd dashed;
  color:inherit;
}

.box{
  display:inline-grid;
  color:inherit;
  width:50%;
  height:inherit;
  padding-bottom:1%;
  padding-top:1%;
  flex: 1;
  flex-flow: column;
}

.display{
  width:60%;
  margin:1%;
  background-color: #dddddd
}

option{
  background-color: #dddddd;
}

.button{
  width:33%;
  margin:1%;
  background-color: #dddddd;
}

.dropDownBox{
  width:50%;
  margin:1%;
  background-color: #dddddd;
}

.textBlock{
  text-align:center;
  font-size: 90%;
  font-weight:100;
  padding:1%;
  white-space: normal;
  width: 100%;
}

.subtitle{
  text-align: center;
  font-size: 100%;
  font-weight:100;
  padding: 1%;
}

.text{
  font-size:75%;
  font-weight:100;
  padding:1%;
  white-space: normal;
}
